<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="skills_col">
        <p class="skills_about" style="opacity: 1;">Hi! I am Kelvin, a software engineer based in Singapore. I love challenging the boundaries of what I can do every single day. I have a passion for building scalable products that optimises society's access to knowledge, capital and healthcare.</p>
        <ul class="skills_icons">
          <li><i class="skills_icon devicon-inkscape-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 25);"></i></li>
          <li><i class="skills_icon devicon-photoshop-plain smaller" style="transform: matrix(1, 0, 0, 1, 0, 25);"></i></li>
          <li><i class="skills_icon devicon-html5-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 25);"></i></li>
          <li><i class="skills_icon devicon-css3-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 50);"></i></li>
          <li><i class="skills_icon devicon-sass-plain" style="transform: matrix(1, 0, 0, 1, 0, 100);"></i></li>
          <li><i class="skills_icon devicon-less-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 25);"></i></li>
          <li><i class="skills_icon devicon-bootstrap-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 50);"></i></li>
          <li><i class="skills_icon devicon-javascript-plain smaller" style="transform: matrix(1, 0, 0, 1, 0, 100);"></i></li>
          <li><i class="skills_icon devicon-jquery-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 50);"></i></li>
          <li><i class="skills_icon" style="transform: matrix(1, 0, 0, 1, 0, 100);"><div class="skills_iconsvg"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#greensock"></use></svg></div></i></li>
          <li><i class="skills_icon devicon-react-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 50);"></i></li>
        </ul>
      </div>
      <div class="skills_col">
        <ul class="skills_icons">
          <li><i class="skills_icon devicon-git-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 100);"></i></li>
          <li><i class="skills_icon devicon-github-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 50);"></i></li>
          <li><i class="skills_icon devicon-bitbucket-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 100);"></i></li>
          <li><i class="skills_icon devicon-gulp-plain" style="transform: matrix(1, 0, 0, 1, 0, 100);"></i></li>
          <li><i class="skills_icon devicon-grunt-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 100);"></i></li>
          <li><i class="skills_icon devicon-nodejs-plain-wordmark larger" style="transform: matrix(1, 0, 0, 1, 0, 25);"></i></li>
          <li><i class="skills_icon devicon-ruby-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 50);"></i></li>
          <li><i class="skills_icon devicon-rails-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 100);"></i></li>
          <li><i class="skills_icon devicon-heroku-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 25);"></i></li>
          <li><i class="skills_icon devicon-mongodb-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 50);"></i></li>
          <li><i class="skills_icon devicon-mysql-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 25);"></i></li>
        </ul>
        <div class="skills_list" style="opacity: 1;">I'm a quick study and am great at translating high-level concepts into practical applications and features.</div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="section skills" id="skills">
  <h2 class="skills_title" style="opacity: 1;">About me</h2>
  <div class="skills_col">
    <p class="skills_about" style="opacity: 1;">I'm Katarina, a 26-year-old web developer currently based in Prague, Czech Republic. I have passion for design and animation and love creating websites with great visual experience.</p>
    <ul class="skills_icons">
      <li><i class="skills_icon devicon-inkscape-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 25);"></i></li>
      <li><i class="skills_icon devicon-photoshop-plain smaller" style="transform: matrix(1, 0, 0, 1, 0, 25);"></i></li>
      <li><i class="skills_icon devicon-html5-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 25);"></i></li>
      <li><i class="skills_icon devicon-css3-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 50);"></i></li>
      <li><i class="skills_icon devicon-sass-plain" style="transform: matrix(1, 0, 0, 1, 0, 100);"></i></li>
      <li><i class="skills_icon devicon-less-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 25);"></i></li>
      <li><i class="skills_icon devicon-bootstrap-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 50);"></i></li>
      <li><i class="skills_icon devicon-javascript-plain smaller" style="transform: matrix(1, 0, 0, 1, 0, 100);"></i></li>
      <li><i class="skills_icon devicon-jquery-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 50);"></i></li>
      <li><i class="skills_icon" style="transform: matrix(1, 0, 0, 1, 0, 100);"><div class="skills_iconsvg"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#greensock"></use></svg></div></i></li>
      <li><i class="skills_icon devicon-react-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 50);"></i></li>
    </ul>
  </div>
  <div class="skills_col">
    <ul class="skills_icons">
      <li><i class="skills_icon devicon-git-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 100);"></i></li>
      <li><i class="skills_icon devicon-github-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 50);"></i></li>
      <li><i class="skills_icon devicon-bitbucket-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 100);"></i></li>
      <li><i class="skills_icon devicon-gulp-plain" style="transform: matrix(1, 0, 0, 1, 0, 100);"></i></li>
      <li><i class="skills_icon devicon-grunt-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 100);"></i></li>
      <li><i class="skills_icon devicon-nodejs-plain-wordmark larger" style="transform: matrix(1, 0, 0, 1, 0, 25);"></i></li>
      <li><i class="skills_icon devicon-ruby-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 50);"></i></li>
      <li><i class="skills_icon devicon-rails-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 100);"></i></li>
      <li><i class="skills_icon devicon-heroku-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 25);"></i></li>
      <li><i class="skills_icon devicon-mongodb-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 50);"></i></li>
      <li><i class="skills_icon devicon-mysql-plain-wordmark" style="transform: matrix(1, 0, 0, 1, 0, 25);"></i></li>
    </ul>
    <div class="skills_list" style="opacity: 1;">I'm great at <span>development</span> of websites with clean code that work perfectly, are fully <span>responsive</span> on any platform whether it's <span>mobile or desktop</span>, and of course completely <span>cross-browser compatible</span>.</div>
  </div>
</section>
<div class="col-lg-4 col-lg-offset-2">
  <p>Hi! I am Kelvin, a software engineer based in Singapore. I love challenging the boundaries of what I can do every single day. I have a passion for building scalable products that optimises society's access to knowledge, capital and healthcare.
    </p>
</div>
<div class="col-lg-4">
  <p>I'm a quick study and am great at translating high-level concepts into practical applications and features.</p>
</div> -->
