 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi! I am Kelvin, a software engineer based in Singapore. I love challenging the boundaries of what I can do every single day. I have a passion for building scalable products that optimises society's access to knowledge, capital and healthcare. </p>
                </div>
                <div class="col-lg-4">
                    <p>I'm a quick study and am great at translating high-level concepts into practical applications and features.</p>
                </div>
            </div>
        </div>
    </section>
