    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                  <ul>
                    <li><i class="devicon-javascript-plain"></i></li>
                    <li><i class="devicon-react-original-wordmark"></i></li>
                    <li><i class="devicon-bootstrap-plain-wordmark"></i></li>
                    <li><i class="devicon-css3-plain-wordmark"></i></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                    <img class="img-responsive img-rounded" src="img/profile.png" alt="profile" >
                </div>
                <div class="col-lg-3">
                  <ul>
                    <li><i class="devicon-nodejs-plain-wordmark"></i></li>
                    <li><i class="devicon-rails-plain-wordmark"></i></li>
                    <li><i class="devicon-mongodb-plain-wordmark"></i></li>
                    <li><i class="devicon-postgresql-plain-wordmark"></i></li>
                  </ul>
                </div>
            </div>
            <div class="row">
              <div class="intro-text">
                  <span class="name">{{ site.title }}</span>
                  <hr class="star-light">
                  <span class="skills">{{ site.skills }}</span>
              </div>
            </div>
        </div>
    </header>
