    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                  <p>hi</p>
                </div>
                <div class="col-lg-6">
                    <img class="img-responsive img-rounded" src="img/profile.png" alt="profile" >
                </div>
                <div class="col-lg-3">
                  <p>world</p>
                </div>
            </div>
            <div class="row">
              <div class="intro-text">
                  <span class="name">{{ site.title }}</span>
                  <hr class="star-light">
                  <span class="skills">{{ site.skills }}</span>
              </div>
            </div>
        </div>
    </header>
