a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

*, :after, :before {
  box-sizing: border-box
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 50px;
  -webkit-transition: -webkit-filter .5s;
  transition: filter .5s;
  transition: filter .5s, -webkit-filter .5s
}

.lb .section, .popupOpen .section {
  -webkit-filter: blur(5px);
  filter: blur(5px)
}

a, button {
  outline: none
}

button::-moz-focus-inner {
  border: 0
}

textarea {
  overflow: auto
}

@media screen and (max-width:500px) {
  .section {
    padding: 50px 20px
  }
}

.contact {
  position: relative;
  overflow: hidden
}

.contact_overlay {
  color: #aaafaf;
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  font-size: 50px;
  padding: 150px 40px;
  font-weight: 200;
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  background: #141414
}

.contact_left, .contact_right {
  display: inline-block;
  vertical-align: top;
  width: 50%
}

.contact_right {
  padding-left: 9%
}

.contact_icons {
  display: inline-block;
  text-align: left
}

.contact_title {
  color: #fff;
  font-family: "Raleway";
  font-size: 100px;
  margin-bottom: 50px;
  font-weight: 200
}

.contact_form {
  font-size: 20px;
  text-align: center;
  position: relative;
  min-height: 400px;
  margin-top: -25px
}

.contact_form.done .contact_input, .logo path {
  opacity: 0
}

.contact_form.done .contact_overlay {
  z-index: 2;
  opacity: 1
}

.contact_form.done .contact_submit {
  cursor: auto
}

.contact_form.done .contact_submit span {
  -webkit-transform: rotateX(90deg) translateY(-25px);
  transform: rotateX(90deg) translateY(-25px)
}

.contact_field:focus, .contact_form.done .contact_submit:focus {
  outline: none
}

.contact_input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1.1em;
  width: calc(100% - 2em);
  vertical-align: top;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out
}

.contact_field, .contact_label {
  float: right;
  width: 100%;
  color: #aaafaf
}

.contact_field {
  font-size: 20px;
  padding: .8em;
  border: none;
  border-radius: 0;
  font-family: "Raleway";
  -webkit-appearance: none;
  background: 0 0;
  position: relative;
  display: block
}

.contact_label {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  height: 100%;
  text-align: left;
  cursor: text
}

.contact_labelName {
  position: relative;
  display: block;
  padding: .8em;
  width: 100%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s
}

.contact_border {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
  -webkit-transform: scale3d(1, -1, 1);
  transform: scale3d(1, -1, 1);
  pointer-events: none;
  width: 100%;
  height: 100%;
  stroke: #aaafaf;
  stroke-width: 4px;
  stroke-dasharray: 960;
  stroke-dashoffset: 558;
  -webkit-transition: stroke-dashoffset .5s;
  transition: stroke-dashoffset .5s
}

.contact_submit {
  display: block;
  margin: 20px auto 0;
  padding: 0;
  line-height: 50px;
  position: relative;
  font-family: "Raleway";
  color: #aaafaf;
  font-size: 20px;
  text-transform: uppercase;
  background: 0 0;
  border: none;
  cursor: pointer;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  outline: none
}

.contact_submit span, .contact_submit span:before {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  border: 2px solid #aaafaf
}

.contact_submit span {
  display: inline-block;
  padding: 0 1.5em;
  -webkit-transition: color .3s, border .3s, -webkit-transform 1s ease-out;
  transition: transform 1s ease-out, color .3s, border .3s, -webkit-transform 1s ease-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  transition: transform 1s ease-out, color .3s, border .3s
}

.contact_submit span:before {
  position: absolute;
  font-size: 50px;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: '\2713';
  -webkit-transition: background .3s;
  transition: background .3s;
  -webkit-transform: rotateX(-89deg);
  transform: rotateX(-89deg);
  color: #3eae68
}

.contact_submit:hover {
  color: #3eae68
}

.contact_submit:hover span {
  border-color: #3eae68
}

.contact_submit:focus {
  outline: none
}

.contact_submit:active {
  padding: 0
}

.contact_msg {
  resize: none;
  height: 200px
}

.contact_cp {
  font-size: 15px;
  position: absolute;
  bottom: 10px;
  left: 0;
  opacity: .4;
  color: #aaafaf;
  width: 100%;
  text-align: center
}

.contact .msg {
  stroke-dasharray: 1965;
  stroke-dashoffset: 1560;
  -webkit-transition: stroke-dashoffset 1s;
  transition: stroke-dashoffset 1s
}

.contact .filled .contact_label {
  cursor: default;
  pointer-events: none
}

.contact .filled .contact_labelName {
  -webkit-transform: scale3d(.81, .81, 1) translate3d(-.8em, -3em, 0);
  transform: scale3d(.81, .81, 1) translate3d(-.8em, -3em, 0);
  color: #3eae68;
  font-weight: 500
}

.contact .filled svg {
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset .5s;
  transition: stroke-dashoffset .5s
}

.contact .filled .msg {
  -webkit-transition: stroke-dashoffset 1s;
  transition: stroke-dashoffset 1s
}

.contact form:invalid .contact_submit:hover {
  -webkit-animation: shake .82s cubic-bezier(.36, .07, .19, .97) both;
  animation: shake .82s cubic-bezier(.36, .07, .19, .97) both;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px
}

.contact_error {
  position: absolute;
  bottom: -25px;
  right: 0;
  color: #3eae68;
  padding: 5px;
  font-size: 13px;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  font-weight: 700
}

.contact_field:invalid+.contact_error.show {
  opacity: 1
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0)
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0)
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0)
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0)
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0)
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0)
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0)
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0)
  }
}

@media screen and (max-width:1200px) {
  .contact_title {
    font-size: 70px
  }
  .contact_input {
    margin: 1.1em 0;
    width: 100%
  }
}

@media screen and (max-width:768px) {
  .contact_right {
    width: 100%;
    padding: 0;
    max-width: 400px;
    display: block;
    margin: 0 auto 150px
  }
  .contact_icons {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    text-align: center
  }
}

@media screen and (max-width:500px) {
  .contact_title {
    font-size: 50px
  }
}

.icons_el {
  display: block;
  cursor: pointer;
  margin-bottom: 40px;
  margin-left: 10px
}

.icons_el:not(:last-child) {
  margin-right: 20px
}

.icons_el:hover .icons_icon:after, .lightbox_link:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1
}

.icons_el:hover .icons_title span:after {
  width: 100%
}

.icons_el:nth-of-type(3) svg {
  fill: #141414;
  background-color: #3eae68;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  margin: 3px 0 0 3px
}

.icons_icon, .icons_title {
  display: inline-block;
  vertical-align: middle
}

.icons_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  -webkit-transition: background .5s, color .5s;
  transition: background .5s, color .5s
}

.icons_icon:after, .lightbox_link:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  box-sizing: content-box;
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 2px #3eae68;
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s, -webkit-transform .5s;
  opacity: 0;
  -webkit-transform: scale(1.3);
  transform: scale(1.3)
}

.icons_icon svg {
  width: 100%;
  height: 100%;
  fill: #3eae68;
  stroke-opacity: 0
}

.icons_title {
  font-size: 25px;
  color: #aaafaf;
  font-weight: 300;
  width: calc(100% - 80px);
  line-height: 30px;
  margin-left: 20px
}

.icons_title span {
  display: inline-block;
  position: relative
}

.icons_title span:after {
  content: '';
  display: inline-block;
  background-color: #3eae68;
  height: 2px;
  width: 0;
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transition: width .3s;
  transition: width .3s
}

@media screen and (max-width:900px) {
  .icons_title {
    font-size: 20px
  }
}

@media screen and (max-width:768px) {
  .icons {
    width: 100%;
    max-width: 400px;
    display: inline-block
  }
  .icons_el {
    width: 33.33%
  }
  .icons_el:nth-child(n) {
    margin-left: 0;
    margin-right: 0
  }
  .icons_el:last-child {
    display: none
  }
  .icons_title {
    display: none
  }
  .icons_el {
    display: inline-block
  }
}

.intro {
  min-height: 500px;
  overflow: hidden;
  height: 100vh;
  position: relative
}

.intro_subtitle, .intro_title {
  font-size: 128px;
  font-family: "Raleway";
  color: #fff;
  font-weight: 100
}

.intro_subtitle {
  font-size: 40px;
  color: #aaafaf;
  font-weight: 200;
  margin-left: 5px
}

.intro_link {
  color: #aaafaf;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
  text-decoration: none
}

.intro_text {
  position: absolute;
  top: 50%;
  left: 47%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -20px
}

.intro_arrows {
  display: inline-block;
  vertical-align: middle;
  font-size: 0
}

.intro_arrow {
  width: 25px;
  height: 13px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.intro_arrow svg {
  max-width: 100%;
  max-height: 100%;
  stroke: #3eae68;
  stroke-width: 2;
  -webkit-animation: arrow 3s infinite;
  animation: arrow 3s infinite
}

.intro_bg {
  position: relative;
  width: 150%;
  height: 150%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.intro_bgImg {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: url(img/bridge.png) 50% 100%/cover no-repeat
}

.intro_bgImg.top {
  opacity: .6;
  position: absolute
}

@-webkit-keyframes arrow {
  0%, to {
    opacity: .5;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(15px);
    transform: translateY(15px)
  }
}

@keyframes arrow {
  0%, to {
    opacity: .5;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(15px);
    transform: translateY(15px)
  }
}

@media screen and (max-width:1200px) {
  .intro_title {
    font-size: 90px
  }
  .intro_subtitle {
    font-size: 32px
  }
}

@media screen and (max-width:900px) {
  .intro_text {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 150px;
    text-align: center;
    width: 100%
  }
  .intro_subtitle {
    margin: 0
  }
}

@media screen and (max-width:500px) {
  .intro_title {
    font-size: 4em
  }
  .intro_subtitle {
    font-size: 1.5em
  }
  .intro_text {
    margin-top: 100px
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: none
}

.lightbox_container, .lightbox_el {
  width: 768px;
  min-height: 80vh;
  max-height: 540px
}

.lightbox_container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(20, 20, 20, .8)
}

.lightbox_el {
  display: none;
  padding: 50px 70px;
  overflow: hidden
}

.lightbox_descr, .lightbox_link {
  color: #aaafaf;
  font-size: 18px
}

.lightbox_tags {
  font-size: 18px
}

.lightbox_descr, .lightbox_title {
  font-weight: 400;
  margin-bottom: 30px
}

.lightbox_title {
  font-size: 30px;
  color: #fff
}

.lightbox_descr {
  line-height: 1.5
}

.lightbox_tags {
  color: #3eae68;
  line-height: 1.5
}

.lightbox_img {
  max-width: 360px;
  max-height: 360px;
  float: right;
  margin-left: 30px
}

.lightbox_links {
  margin-top: 30px
}

.lightbox_link {
  display: inline-block;
  text-decoration: none;
  margin-right: 40px;
  width: 40px;
  height: 40px;
  fill: #3eae68;
  position: relative
}

.lightbox_link svg {
  width: 100%;
  height: 100%
}

.lightbox_link span {
  vertical-align: middle
}

.lightbox_close {
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 30px;
  height: 30px
}

.lightbox_close:after, .lightbox_close:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #fff;
  -webkit-transition: background-color .5s;
  transition: background-color .5s
}

.lightbox_close:before {
  width: 2px;
  height: 30px;
  left: 14px
}

.lightbox_close:after {
  width: 30px;
  height: 2px;
  top: 14px
}

.lightbox_close:hover:after, .lightbox_close:hover:before, .menu .active .menu_icon:after {
  background-color: #3eae68
}

.lightbox_left, .lightbox_right {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  stroke: #fff;
  cursor: pointer;
  -webkit-transition: stroke .5s;
  transition: stroke .5s
}

.lightbox_left svg, .lightbox_right svg {
  width: 100%;
  height: 100%;
  stroke-width: 2
}

.lightbox_left:hover, .lightbox_right:hover {
  stroke: #3eae68
}

.lightbox_left {
  left: 10px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.lightbox_right {
  right: 10px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

@media screen and (max-width:768px) {
  .lightbox_container, .lightbox_el {
    width: 500px;
    height: auto;
    max-width: 100%;
    max-height: 100vh
  }
  .lightbox_img {
    float: none;
    margin: 0 0 30px;
    max-width: 100%
  }
  .lightbox_links {
    position: static;
    margin-top: 30px
  }
}

@media screen and (max-width:500px) {
  .lightbox_el {
    padding: 20px 50px
  }
  .lightbox_title {
    font-size: 25px
  }
  .lightbox_img {
    display: none
  }
}

.logo {
  position: absolute;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #141414
}

.logo_wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.logo svg {
  overflow: visible;
  stroke-opacity: .3;
  width: 100px;
  height: 100px;
  fill: #fff;
  stroke: #fff
}

.logo .black {
  fill-opacity: .9
}

.logo .white {
  fill-opacity: .03;
  stroke-opacity: 0
}

.logo .gray-dark {
  fill-opacity: .3;
  stroke-opacity: 0
}

.logo .gray-light {
  fill-opacity: .1;
  stroke-opacity: 0
}

.logo svg, .logo svg * {
  pointer-events: none
}

.logo.main {
  background: 0 0
}

.logo.main .logo_wrapper {
  margin-left: -230px
}

.logo.main .logo_wrapper:hover {
  padding: 0 50%
}

.logo.main svg {
  width: 280px;
  height: 280px;
  fill: url(.#g443);
  stroke: url(.#g443)
}

.logo.corner {
  width: auto;
  height: auto;
  cursor: pointer;
  position: fixed
}

.logo.corner .logo_wrapper {
  top: 20px;
  left: 20px;
  -webkit-transform: none;
  transform: none;
  margin: 0
}

.logo.corner svg {
  width: 80px;
  height: 80px;
  fill: #fff;
  stroke: #fff;
  stroke-opacity: .9
}

@media screen and (max-width:1200px) {
  .logo.main:not(.corner) svg {
    width: 250px;
    height: 250px
  }
}

@media screen and (max-width:900px) {
  .logo.main .logo_wrapper {
    margin-left: 0;
    margin-top: -100px
  }
}

@media screen and (max-width:500px) {
  .logo.main:not(.corner) svg {
    width: 200px;
    height: 200px
  }
}

.logo.main:not(.corner) svg, _::-webkit-:not(:root:root) {
  stroke: #b1afb1
}

.menu {
  position: fixed;
  right: 20px;
  top: 20px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-filter: url(.#goo);
  filter: url(.#goo);
  opacity: 0
}

.menu_wrapper {
  position: relative;
  height: 60px;
  width: 60px
}

.menu_btn, .menu_opener {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  border: none;
  outline: none;
  margin-left: -30px;
  margin-top: -30px;
  background: #fff;
  cursor: pointer
}

.menu_btn {
  -webkit-transition: background .3s ease;
  transition: background .3s ease
}

.menu_btn:hover {
  background: #aaafaf
}

.menu_btn.active {
  background: #3eae68;
  cursor: normal
}

.menu_btn.active svg path {
  fill: #141414
}

.menu_opener {
  z-index: 9
}

.menu_icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-top: 10px
}

.menu_icon svg, .proj_poly svg {
  width: 100%;
  height: 100%
}

.menu_icon, .menu_main {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.menu_burger {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto
}

.menu_burger span, .menu_burger:after, .menu_burger:before {
  content: '';
  display: inline-block;
  height: 2px;
  position: absolute;
  background-color: #141414;
  -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: transform .3s ease, opacity .3s ease;
  transition: transform .3s ease, opacity .3s ease, -webkit-transform .3s ease
}

.menu_burger span {
  left: 18px;
  margin-top: 19px;
  width: 4px
}

.menu_burger:after, .menu_burger:before {
  width: 40px
}

.menu_burger:before {
  top: 10px;
  left: 0
}

.menu_burger:after {
  bottom: 10px;
  left: 0
}

.menu.open {
  right: -300px
}

.menu.open .menu_wrapper {
  width: 700px
}

.menu.open .menu_burger span, .proj_el:hover .proj_overlay {
  opacity: 0
}

.menu.open .menu_burger:after, .menu.open .menu_burger:before {
  -webkit-transform-origin: 7px center;
  transform-origin: 7px center;
  left: 4px
}

.menu.open .menu_burger:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.menu.open .menu_burger:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.menu, _::-webkit-:not(:root:root) {
  -webkit-filter: none;
  filter: none
}

.proj {
  position: relative;
  font-size: 0
}

.proj_img {
  width: 100%;
  -webkit-transition: -webkit-transform .5s ease-out, -webkit-filter .5s ease-out;
  transition: transform .5s ease-out, filter .5s ease-out;
  transition: transform .5s ease-out, filter .5s ease-out, -webkit-transform .5s ease-out, -webkit-filter .5s ease-out
}

.proj_title {
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  background: -webkit-linear-gradient(bottom, #141414 0%, transparent 100%);
  background: linear-gradient(to top, #141414 0%, transparent 100%);
  padding: 30px;
  width: 100%;
  position: absolute;
  bottom: 0
}

.proj_wrap {
  overflow: hidden
}

.proj_el {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  position: relative
}

.proj_el:nth-child(1) {
  width: 37.55%;
  margin-right: 1.81%;
  margin-top: 100px
}

.proj_el:nth-child(2) {
  width: 51.54%
}

.proj_el:nth-child(3) {
  width: 60.63%;
  float: right;
  margin-top: -31.82%
}

.proj_el:nth-child(4) {
  width: 60.64%;
  margin-right: 1.81%;
  margin-left: 9.1%
}

.proj_el:nth-child(5) {
  width: 28.45%;
  float: right;
  margin-top: 100px
}

.proj_el:nth-child(6) {
  width: 69.73%
}

.proj_overlay, .proj_poly {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0
}

.proj_poly {
  overflow: hidden
}

.proj_overlay {
  background-color: rgba(20, 20, 20, .2);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out
}

@media screen and (max-width:1200px) {
  .proj_title {
    font-size: 25px
  }
}

@media screen and (max-width:768px) {
  .proj {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .proj_poly {
    display: none
  }
  .proj_el:nth-child(n) {
    width: 90%;
    margin: 0 0 50px
  }
  .proj_el:nth-child(even) {
    -ms-flex-item-align: end;
    align-self: flex-end
  }
  .proj_el:nth-child(1), .proj_el:nth-child(5) {
    width: 60%;
    overflow: hidden;
    height: 300px
  }
  .proj_el:nth-child(1) .proj_overlay, .proj_el:nth-child(5) .proj_overlay {
    height: 300px
  }
}

@media screen and (max-width:500px) {
  .proj {
    display: block
  }
  .proj_el:nth-child(n) {
    width: 100%;
    margin: 0 0 50px
  }
  .proj_el:nth-child(even) {
    -ms-flex-item-align: end;
    align-self: flex-end
  }
  .proj_el:nth-child(5) .proj_wrap {
    height: 450px
  }
}

.skills {
  font-size: 0;
  position: relative
}

.skills_col {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  line-height: 1.2;
  color: #aaafaf;
  font-size: 30px;
  font-weight: 300
}

.skills_about {
  margin: 0 50px 50px 0
}

.skills_title {
  color: #fff;
  font-family: "Raleway";
  font-size: 100px;
  font-weight: 200;
  margin-bottom: 40px
}

.skills_list {
  margin-top: 50px;
  margin-left: 50px;
  text-align: right
}

.skills_list span {
  font-weight: 400;
  color: #fff
}

.skills_icons {
  color: #3eae68
}

.skills_icons li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 16.66%
}

.skills_icons li:nth-of-type(even) {
  padding: 100px 0 0
}

.skills_icons li:nth-of-type(odd) {
  padding: 0 0 100px
}

.skills_icon {
  font-size: 70px;
  display: inline-block
}

.skills_icon.smaller {
  font-size: 60px
}

.skills_icon.larger {
  font-size: 90px
}

.skills_iconsvg {
  display: inline-block;
  width: 80px;
  height: 80px
}

.skills_iconsvg svg {
  width: 100%;
  height: 100%;
  fill: #3eae68;
  stroke: #141414
}

@media screen and (max-width:1200px) {
  .skills_title {
    font-size: 70px
  }
  .skills_about, .skills_list {
    font-size: 25px
  }
  .skills_icon {
    font-size: 50px
  }
  .skills_icon.smaller {
    font-size: 40px
  }
  .skills_icon.larger {
    font-size: 70px
  }
  .skills_iconsvg {
    width: 60px;
    height: 60px
  }
}

@media screen and (max-width:768px) {
  .skills_col {
    position: relative;
    width: 100%;
    height: 360px
  }
  .skills_icons {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .3;
    width: 100%
  }
}

@media screen and (max-width:500px) {
  .skills_title {
    font-size: 50px
  }
  .skills_about, .skills_list {
    font-size: 20px;
    line-height: 1.5
  }
}
